<h1 style="text-align: center;"><span style="color: #00ccff;"><strong>Be careful!</strong></span></h1>
<p>We detect a covid case in the places you were in! <img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-frown.gif" alt="frown" /></p>
<p>We recommended you stay in home at least one week.</p>