<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @insititution.description %>
</p>

<%= link_to 'Edit', edit_insititution_path(@insititution) %> |
<%= link_to 'Back', insititutions_path %>
