<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body style="margin: 0; padding: 0;">

    <table style="max-width: 680px; border-spacing: 0!important;">
      <tbody>
        <tr>
          <td style="padding:20px;">
            <img src="https://agile-river-63945.herokuapp.com/assets/Mask-d3825350105a6259fa67fc791e5290f74de5e6400748b01692e34f1fe74d28e8.svg" width="300" height="200">
          </td>
        </tr>
      </tbody>
    </table>

    <table style="border:none;border-collapse:collapse;width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="direction:ltr;text-align:left" align="left">
            <table style="border:none;border-collapse:collapse;width:100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td style="direction:ltr;text-align:left;" valign="top" >
                    <h4 style="Margin:0;padding:0">
                    Hello <%= params[:user].email %>,
                    </h4>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto" width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td style="color:#555555;padding:30px 15">
                    Someone requested a reset of your password. <img src="https://mail.google.com/mail/e/1f52d" width="20" height="20"> <br>

                    If this was you, click the link to reset your password. The link will expire automatically in 15 minutes. <br>

                    <%= link_to "Reset password", password_reset_edit_url(token: @token) %>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>